 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1203px;
}

.u-section-1 .u-list-1 {
  margin-bottom: 20px;
  margin-top: 40px;
}

.u-section-1 .u-repeater-1 {
  grid-gap: 10px 10px;
  grid-template-columns: 100%;
  min-height: 1143px;
}

.u-section-1 .u-container-layout-1 {
  padding: 10px;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-size: 1.875rem;
  font-family: Alata;
  font-weight: 700;
  margin: 0 auto;
  padding: 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 10px;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  font-size: 1.875rem;
  font-family: Alata;
  font-weight: 700;
  margin: 0 auto;
  padding: 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 10px;
}

.u-section-1 .u-btn-3 {
  border-style: none;
  font-size: 1.875rem;
  font-family: Alata;
  font-weight: 700;
  margin: 0 auto;
  padding: 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 10px;
}

.u-section-1 .u-btn-4 {
  border-style: none;
  font-size: 1.875rem;
  font-family: Alata;
  font-weight: 700;
  margin: 0 auto;
  padding: 0;
}

.u-section-1 .u-container-layout-5 {
  padding: 10px;
}

.u-section-1 .u-btn-5 {
  border-style: none;
  font-size: 1.875rem;
  font-family: Alata;
  font-weight: 700;
  margin: 0 auto;
  padding: 0;
}

.u-section-1 .u-container-layout-6 {
  padding: 10px;
}

.u-section-1 .u-btn-6 {
  border-style: none;
  font-size: 1.875rem;
  font-family: Alata;
  font-weight: 700;
  margin: 0 auto;
  padding: 0;
}

.u-section-1 .u-container-layout-7 {
  padding: 10px;
}

.u-section-1 .u-btn-7 {
  border-style: none;
  font-size: 1.875rem;
  font-family: Alata;
  font-weight: 700;
  margin: 0 auto;
  padding: 0;
}

.u-section-1 .u-container-layout-8 {
  padding: 10px;
}

.u-section-1 .u-btn-8 {
  border-style: none;
  font-size: 1.875rem;
  font-family: Alata;
  font-weight: 700;
  margin: 0 auto;
  padding: 0;
}

.u-section-1 .u-container-layout-9 {
  padding: 10px;
}

.u-section-1 .u-btn-9 {
  border-style: none;
  font-size: 1.875rem;
  font-family: Alata;
  font-weight: 700;
  margin: 0 auto;
  padding: 0;
}